* {
	font-family: Verdana, sans-serif;
}

/* BACKGROUND STUFF */
body {
	background-color:#F8F8F8;
}

.canvas {
}

.content {
	background-color:#F8F8F8;
	padding:1em 1em 1em 1em;
	font-size:1.1em;
    max-width:70%;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
}

.disqus-stuff {
	background-color:#F8F8F8;
	padding:1em 1em 1em 1em;
	/* font-size:1em; */
    max-width:70%;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER STUFF */
/* header top level */
.header {
	background-color:#2E9AFE;
    padding:2em 2em 2em 2em;
	font-size:1em;
    /* required for center header */
    text-align:center;
}

div .header ul {
    max-width:80%;
    margin: 0;
    padding: 0;
    text-align:center;
	margin-left: auto;
	margin-right: auto;
	list-style:none;
	color:#707070;
    /* required for center header */
    display: inline-block;
}

/* inserts this style after all ul */
div .header ul:after {
	/* content required but I dont need */
	content: "";
	clear:both;
	display:block;
}

/* Makes the header horizontal */
div .header ul li {
	float:left;
    /* required for center header */
    margin: 0;
    padding: 0;
    display:inline-block;
}

/* Affects the links in the header */
div .header ul li a {
	display:block;
	color:#F8F8F8;
	text-decoration:none;
	float:left;
	margin:0em 0em 0em 0em;
}

/* The items in the menu bar specifically */
#item {	
	display:block;
	padding:1em 1em 1em 1em;
	color:#F8F8F8;
	text-decoration:none;
	font-size:1.1em;
}

#subitem {
	display:block;
	padding:1em 1em 1em 1em;
	color:#F8F8F8;
	text-decoration:none;
}

/* dropdown menu effects */
div .header ul li ul { 
	position:absolute;
	padding:0em 0em 0em 0em;
	background-color:#2E9AFE;
}

/* hover over color effect on all boxes */
div .header ul li:hover {
	background:#BDBDBD;
}

/* makes sublist turn up when hovered */
div .header ul li:hover > ul {
	display:block;
}

/* LINKS */
/* text color when hovered */
div .header li:hover a {
	color:#F8F8F8;
}

/* hover over effect on boxes */
div .header ul ul {
	float:none;
	margin:1em 1em 1em 1em;
	position: relative;
	display:none;
}

/* Links that have never been clicked */
a:link{
    color:#2F9AFE;
}

/* Links that have been clicked */
a:visited{
	text-decoration:none;
    color:#BDBDBD;
}

/* Links that are being hovered over */
a:hover{
    color:#2F32FE;
}

/* TITLES */
h1 {
        color:#2E2E2E;
}
h2 {
        color:#585858;
}
h3 {
        color:#585858;
}
h3:hover {
        color:#2F32FE;
}
h4 {
        color:#585858;
}

/* EMBEDDING CODE */
pre {
	white-space: pre-wrap;
    color: #F2F2F2;
    background:#151515;
    border: 0.3em solid #6E6E6E;
    padding: 1em;
}

code {
	font-family:Courier;
}

/* IMAGE STUFF */
.photography img {
     width: 100%;
     max-width: 100%
     height: 100%;
}

img.rotw {
     width: 100%;
     max-width: 100%
     height: 100%;
     margin-left: auto;
     margin-right: auto;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:15%;
}

img.banner {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

img.phone {
     width: 100%;
     max-width: 100%
     height: 100%;
     margin-left: auto;
     margin-right: auto;
}

/* INPUT */
input {
        float:right;
        clear:both;
}

/* TABLE FOR PHOTOGRAPHY PAGE */
table.photography {
        margin-left:auto;
        margin-right:auto;
}
