* {
	font-family: Verdana, sans-serif;
}

/* BACKGROUND STUFF */
body {
	background-color:#F8F8F8;
}

.canvas {
}

.content {
	background-color:#F8F8F8;
	padding:1em 1em 1em 1em;
	font-size:1.1em;
    max-width:70%;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
}

/* TITLES */
h1 {
        color:#2E2E2E;
}
h2 {
        color:#585858;
}
h3 {
        color:#585858;
}
h3:hover {
        color:#2F32FE;
}
h4 {
        color:#585858;
}

/* EMBEDDING CODE */
pre {
	white-space: pre-wrap;
    color: #F2F2F2;
    background:#151515;
    border: 0.3em solid #6E6E6E;
    padding: 1em;
}

code {
	font-family:Courier;
}

/* INPUT */
input {
        float:right;
        clear:both;
}

/* TABLE FOR PHOTOGRAPHY PAGE */
table.photography {
        margin-left:auto;
        margin-right:auto;
}
